In [2]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.read_csv('argo_indian_ocean_export.csv')

In [4]:
df

,uid,platform_number,cycle_number,latitude,longitude,pressure,temperature,salinity,juld
0,1,3901831,224,-50.18681,61.64761,0.960000,4.283,33.770000,19723.959329
1,2,3901831,224,-50.18681,61.64761,1.920000,4.282,33.770000,19723.959329
2,3,3901831,224,-50.18681,61.64761,3.040000,4.284,33.769001,19723.959329
3,4,3901831,224,-50.18681,61.64761,4.040000,4.285,33.770000,19723.959329
4,5,3901831,224,-50.18681,61.64761,5.000000,4.286,33.770000,19723.959329
...,...,...,...,...,...,...,...,...,...
10058,10059,3901831,233,-48.22100,63.70773,1998.040039,1.804,34.770000,19813.203623
10059,10060,3901831,233,-48.22100,63.70773,2000.000000,1.801,34.770000,19813.203623
10060,10061,3901831,233,-48.22100,63.70773,2002.000000,1.799,34.769001,19813.203623
10061,10062,3901831,233,-48.22100,63.70773,2004.119995,1.797,34.769001,19813.203623
10062,10063,3901831,233,-48.22100,63.70773,2005.280029,1.797,34.770000,19813.203623

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10063 entries, 0 to 10062
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   uid              10063 non-null  int64
 1   platform_number  10063 non-null  int64
 2   cycle_number     10063 non-null  int64
 3   latitude         10063 non-null  float64
 4   longitude        10063 non-null  float64
 5   pressure         10063 non-null  float64
 6   temperature      10063 non-null  float64
 7   salinity         10063 non-null  float64
 8   juld             10063 non-null  float64
dtypes: float64(6), int64(3)
memory usage: 707.7 KB

In [6]:
df.dtypes

uid                  int64
platform_number      int64
cycle_number         int64
latitude           float64
longitude          float64
pressure           float64
temperature        float64
salinity           float64
juld               float64
dtype: object

In [7]:
df['cycle_number'].unique()         # confirm exact column names

array([224, 225, 226, 227, 228, 229, 230, 231, 232, 233])

In [8]:
print(df.columns)

Index(['uid', 'platform_number', 'cycle_number', 'latitude', 'longitude',
       'pressure', 'temperature', 'salinity', 'juld'],
      dtype='object')